* {
    font-family: "0xProto Nerd Font";
    font-size: 13px;
    min-height: 22px;
}

window#waybar {
    background: #000000;
    color: #FFFFFF;
}

#battery,
#network,
#clock {
    margin-right: 10px;
    margin-left: 10px;
}

